name: check-nominatimlite-input

on:
  push:
    branches: [main, master]

jobs:
  check:
    runs-on: ubuntu-latest
    permissions: write-all
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Check
        uses: dieghernan/cran-status-check@main
        with:
          package: nominatimlite
          statuses: "WARNING,ERROR"
          fail-on-error: "true"
          issue-assignees: "dieghernan"
