name: check-ok-path

on:
  push:
    branches: [main, master]

jobs:
  check:
    runs-on: ubuntu-latest
    permissions: write-all
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Check
        uses: dieghernan/cran-status-check@v1
        with:
          path: testpak
          statuses: "ERROR"
